extend layout

block content

  .content-wrapper
    .page-header
      h3.page-title
        | Content
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') content
          li.breadcrumb-item.active(aria-current='page') Content
    .row
      .col-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Form Edit Content
            p.card-description
              | Edit Content
            form.forms-sample(action='/insertcontent/update', method='post', enctype='multipart/form-data')
              .form-group
                label(for='exampleInputName1') ID Content
                input#id.form-control(type='text', placeholder='ID Content', name='id', value="#{id}" readonly)
              .form-group
                label(for='exampleInputName1') Judul
                input#judul.form-control(type='text', placeholder='Judul', name='judul', value="#{judul}")
              .form-group
                label(for='exampleTextarea1') Content
                textarea#content.form-control(rows='4', name='content')
                 |#{content}
              //- .form-group
              //-   label(for='exampleSelectGender') Menu
              //-   select#exampleSelectGender.form-control
              //-     option id menu 1
              //-     option id menu 2
              //- .form-group
              //-   label(for='exampleInputName2') ID Menu
              //-   select.form-control(name='idmenu')
              //-     each dd, i in menu
              //-       option(value='#{dd.id}') #{dd.menu}
                //- input#judul.form-control(type='text', placeholder='id menu', name='idmenu', value="#{idmenu}")
              .form-group
                label(for='exampleInputName3') File upload
                input.form-control(type='file', name='foto')
              button.btn.btn-gradient-primary.mr-2(type='submit') Oke
              button.btn.btn-light Batal

