extend layout

block content

  .content-wrapper
    .page-header
      h3.page-title
        | Basic Form
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Form Content
          li.breadcrumb-item.active(aria-current='page') Input Content
    .row
      .col-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title Form Content
            p.card-description
              | Input Content
            form.forms-sample(action='/insertcontent', method='post')
              .form-group
                label(for='exampleInputName1') Judul
                input#judul.form-control(type='text', placeholder='Judul', name='judul')
              .form-group
                label(for='exampleTextarea1') Content
                textarea#content.form-control(rows='4', name='content')
              //- .form-group
              //-   label(for='exampleSelectGender') Menu
              //-   select#exampleSelectGender.form-control
              //-     option id menu 1
              //-     option id menu 2
              .form-group
                label(for='exampleInputName2') Menu
                select.form-control(name='idmenu')
                  each dd, i in menu
                    option(value='#{dd.id}') #{dd.menu}
                //- input#judul.form-control(type='text', placeholder='id menu', name='idmenu')
              .form-group
                label File upload
                input.file-upload-default(type='file', name='foto')
                .input-group.col-xs-12
                  input.form-control.file-upload-info(type='text', disabled='', placeholder='Upload Image')
                  span.input-group-append
                    button.file-upload-browse.btn.btn-gradient-primary(type='button') Upload
              button.btn.btn-gradient-primary.mr-2(type='submit') Submit
              button.btn.btn-light Cancel
    // tabel
    .col-lg-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Konten
          p.card-description
            | Tabel Konten Tabulampot 
          form.forms-sample(action='/insertcontent/pencarian', method='get')
            .form-group
              label(for='exampleInputName3') search content
              select.form-control(name="caricontent")
                each dd, i in content
                  option(value='#{dd.id}') #{dd.judul}
            button.btn.btn-gradient-primary.mr-2(type='submit') Submit
            br
          table.table.table-striped
            thead
              tr
                th No
                th id
                th judul
                th content
                th tanggal
                th menu
                th foto
            tbody
             each data, i in content
              tr
                td #{i+1}
                td #{data.id}
                td #{data.judul}
                td #{data.content}
                td #{data.tanggal}
                td #{data.idmenu.menu}
                td #{data.foto}
                td
                  a.button.btn.btn-primary(href="/insertcontent/editcontent/"+ data.id) edit
                  button.btn.btn-danger(onclick='app.Delete("'+data.id+'")') hapus

          script(src="https://code.jquery.com/jquery-3.3.1.js", integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=", crossorigin="anonymous")
          script.
            var app = new function() {

              //action for delete
              this.Delete = function(data) {
                var r = confirm("Apakah anda yakin ingin menghapus ? ");
                if (r == true) {
                    $.ajax({
                      url: "https://shela.jagopesan.com/insertcontent/delete",
                      method: "POST",
                      data: "id="+data
                    })
                    .done(function(data){
                      location.reload()
                    })
                } else {
                    alert("cancel")
                }
              }
            }   
  // penutup tabel
